@import "../../vars.scss";

.battle {
  &__tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(225, 223, 233, 0.46);
    padding-top: 54px;
    margin-bottom: 25px;

    a {
      display: flex;
      justify-content: center;
      position: relative;
      min-width: 118px;
      padding: 0 34px 20px;
      font-size: 24px;
      line-height: 30px;
      color: $white;
      background: none;

      &:last-child {
        margin: 0;
      }
    }

    &.lightMode {
      a {
        color: $text-lg;
      }
    }
  }
}

.activeLink {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #15c9ff;
  }
}
