.intro {
  display: flex;
  align-items: center;
  justify-content: center;;
  background-size: cover;
  height: 100vh;

  &__button {
    margin: 0 auto;
  }
}

.body {
  text-align: center;
  padding: 30px;
  background: rgba(0,0,0, 0.4);

  & button {
    background-color: rgb(255, 0, 144);
    padding: 10px 35px;
    border-radius: 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  & h1, h2, p {
    text-shadow: 2px 3px 5px black;
  }
}

.suptitle {
  font-size: 2.8rem;
  margin-bottom: 24px
}

.title {
  font-size: 3rem;
}

.subtitle {
  padding: 24px 0 60px 0;

  max-width: 697px;
  font-size: 1.1rem;
  margin: auto;
}
